[tool.poetry]
name = "bayesian-optimization"
version = "3.0.0b1"
description = "Bayesian Optimization package"
authors = ["Fernando Nogueira"]
license = "MIT"
readme = "README.md"
packages = [{include = "bayes_opt"}]

[tool.poetry.dependencies]
python = "^3.9"
scikit-learn = "^1.0.0"
numpy = ">=1.25"
scipy =  [
    {version = "^1.0.0", python = "<3.13"},
    {version = "^1.14.1", python = ">=3.13"}
]
colorama = "^0.4.6"


[tool.poetry.group.dev]  # for testing/developing
optional = true
[tool.poetry.group.dev.dependencies]
pytest = "^8.0.0"
pytest-cov = "^4.1.0"
coverage = "^7.4.1"
ruff = "0.6.6"
pre-commit = "^3.7.1"


[tool.poetry.group.nbtools]  # for running/converting notebooks
optional = true
[tool.poetry.group.nbtools.dependencies]
nbformat = "^5.9.2"
nbconvert = "^7.14.2"
jupyter = "^1.0.0"
matplotlib = "^3.0"
nbsphinx = "^0.9.4"
sphinx-immaterial = "^0.12.0"
sphinx = [
    {version = "^7.0.0", python = "<3.10"},
    {version = "^8.0.0", python = ">=3.10"}
]
sphinx-autodoc-typehints = [
    {version = "^2.3.0", python = "<3.10"},
    {version = "^2.4.0", python = ">=3.10"}
]


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "if TYPE_CHECKING:",
]
